@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-size: 17px;
  min-height: 0;
}


#waybar {
  background-color: transparent;
  color: @text;
  margin: 5px;
}

#taskbar,
#workspaces {
  border-radius: 1rem;
  margin-left: 1rem;
}

#taskbar button,
#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#taskbar button:active,
#workspaces button.active {
  color: @sky;
}

#taskbar button:hover,
#workspaces button:hover {
  color: @sapphire;
}


/* section */
#custom-music,
#tray,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#privacy,
#workspaces,
#taskbar,
#custom-notification,
#custom-lock {
  background-color: @surface0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 5px 0;
}

/* section start */
#network {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 0.5rem;
}

/* section end */
#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 0.5rem;
}


#network {
  color: @mauve;
}

#bluetooth {
  color: @lavender;
  border-right: 2px solid @overlay0;
}

#clock {
  color: @blue;
}

#pulseaudio {
  color: @maroon;
}

#custom-notification {
  color: @lavender;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  color: @lavender;
}

#tray {
  margin-right: 0.5rem;
  border-radius: 1rem;
}

#privacy {
  border-radius: 1rem;
}

tooltip {
  border-radius: 1rem;
  background-color: @overlay0;
}

